{% extends 'cards.html' %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load static %}
{% load i18n %}

{% block page_js %}
  <script src="{% static 'tags.js' %}" defer></script>
{% endblock %}

{% block body_class %}apps-add-page{% endblock %}

{% block header-container %}
  <div class="card-section-title">{% trans "Add New App" %}</div>
{% endblock %}

{% block cards-empty %}
  <p class="text-center">
    {% blocktrans trimmed %}
      There are no more apps available to add.
    {% endblocktrans %}
  </p>
{% endblock %}
