{% extends 'base.html' %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}
{% load static %}
{% load extras %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% include 'messages.html' %}
      </div>
    </div>
  </div>

  {% block tags %}
    {% include "tags.html" %}
  {% endblock %}

  <div class="container card-container">
    {% block header-container %}
    {% endblock %}

    {% block toolbar-container %}
    {% endblock %}

    {% if menu_items %}
      <div class="row">
        <div class="card-list">
          {% for item in menu_items %}
            {% if advanced_mode or not item.advanced %}
              {% include "card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      {% block cards-empty %}
      {% endblock %}
    {% endif %}
  </div>

  {% block content-container %}
  {% endblock %}

{% endblock %}
