{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block content %}

  <h3>{{ title }}</h3>
  <p>
    {% blocktrans trimmed %}
      {{ box_name }} will allow this client to connect to it. Ensure that the
      client is configured with the following information.
    {% endblocktrans %}
  </p>
  <table class="table table-bordered table-condensed table-striped">
    <tbody>
      <tr>
        <th>{% trans "Client public key:" %}</th>
        <td>{{ client.public_key }}</td>
      </tr>
      <tr>
        <th>{% trans "IP address to use for client:" %}</th>
        <td>{{ client.allowed_ips|join:", " }}</td>
      </tr>
      <tr>
        <th>{% trans "Pre-shared key:" %}</th>
        <td>{{ client.preshared_key }}</td>
      </tr>
      <tr>
        <th>{% trans "Server endpoints:" %}</th>
        <td>
          {% for endpoint in endpoints %}
            <div>{{ endpoint }}</div>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <th>{% trans "Server public key:" %}</th>
        <td>{{ server.public_key }}</td>
      </tr>
    </tbody>
  </table>

  <h3>{% trans "Status" %}</h3>
  <table class="table table-bordered table-condensed table-striped">
    <tbody>
      <tr>
        <th>{% trans "Data transmitted:" %}</th>
        <td>{{ client.status.transfer_tx|filesizeformat }}</td>
      </tr>
      <tr>
        <th>{% trans "Data received:" %}</th>
        <td>{{ client.status.transfer_rx|filesizeformat }}</td>
      </tr>
      <tr>
        <th>{% trans "Latest handshake:" %}</th>
        <td>{{ client.status.latest_handshake|default:'' }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <a class="btn btn-default"
       href="{% url 'wireguard:edit-client' client.public_key|urlencode:'' %}">
      <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
      {% trans "Edit" %}
    </a>
    <a class="btn btn-default"
       href="{% url 'wireguard:delete-client' client.public_key|urlencode:'' %}">
      <span class="fa fa-trash-o" aria-hidden="true"></span>
      {% trans "Delete" %}
    </a>
  </p>

{% endblock %}
