{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block content %}

  <h3>{{ title }}</h3>

  <table class="table table-bordered table-condensed table-striped">
    <tbody>
      <tr>
        <th>{% trans "Endpoint:" %}</th>
        <td>{{ server.peers.0.endpoint }}</td>
      </tr>
      <tr>
        <th>{% trans "Public Key:" %}</th>
        <td>{{ server.peers.0.public_key }}</td>
      </tr>
      <tr>
        <th>{% trans "Pre-shared key:" %}</th>
        <td>{{ server.peers.0.preshared_key }}</td>
      </tr>
      <tr>
        <th>{% trans "Data transmitted:" %}</th>
        <td>{{ server.peers.0.status.transfer_tx|filesizeformat }}</td>
      </tr>
      <tr>
        <th>{% trans "Data received:" %}</th>
        <td>{{ server.peers.0.status.transfer_rx|filesizeformat }}</td>
      </tr>
      <tr>
        <th>{% trans "Latest handshake:" %}</th>
        <td>{{ server.peers.0.status.latest_handshake }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <a class="btn btn-default"
       href="{% url 'wireguard:edit-server' interface %}">
      <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
      {% trans "Edit Server" %}
    </a>
    <a class="btn btn-default"
       href="{% url 'wireguard:delete-server' interface %}">
      <span class="fa fa-trash-o" aria-hidden="true"></span>
      {% trans "Delete Server" %}
    </a>
  </p>

{% endblock %}
