{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block content %}

  <h3>{{ title }}</h3>

  <h4>{% trans "Connection Information" %}</h4>
  <p>{% trans "IP address to use:" %}</p>
  <p>{% trans "Server endpoints:" %}</p>
  <p>{% trans "Server's public key:" %} {{ my_server.public_key }}</p>
  <p>{% trans "Pre-shared key:" %}</p>

  <h4>{% trans "Status" %}</h4>
  <p>{% trans "Client Public Key:" %} {{ client.public_key }}</p>
  <p>{% trans "Data transmitted:" %} {{ client.transfer_tx|filesizeformat }}</p>
  <p>{% trans "Data received:" %} {{ client.transfer_rx|filesizeformat }}</p>
  <p>{% trans "Latest handshake:" %} {{ client.latest_handshake }}</p>

  <p>
    <a class="btn btn-default"
       href="{% url 'wireguard:edit-client' client.public_key|urlencode:'' %}">
      {% trans "Edit Client" %}
    </a>
    <a class="btn btn-default"
       href="{% url 'wireguard:delete-client' client.public_key|urlencode:'' %}">
      <span class="fa fa-trash-o" aria-hidden="true"></span>
      {% trans "Delete Client" %}
    </a>
  </p>

{% endblock %}
