{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

<div class="field-group">
  <div class="card-header" id="header-pppoe">
    <h4>
      <button class="btn btn-block text-left dropdown-toggle {{ form.errors|yesno:",collapsed" }}"
              type="button" data-toggle="collapse"
              data-target="#collapse-pppoe"
              aria-expanded="{{ form.errors|yesno:"true,false" }}"
              aria-controls="collapse-pppoe">
        {% trans "PPPoE" %}
      </button>
    </h4>
  </div>

  <div id="collapse-pppoe" class="collapse  {{ form.errors|yesno:"show," }}"
       aria-labelledby="header-pppoe"
       data-parent="#accordion-connections-fields">
    <div class="card-body">
      {{ form.username|bootstrap }}
      {{ form.password|bootstrap }}
      {{ form.show_password|bootstrap }}
    </div>
  </div>
</div>
