{% extends "base.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h3>{% trans "Delete Connection" %}</h3>

  <p>
    {% blocktrans trimmed %}
      Delete connection <strong>{{ name }}</strong> permanently?
    {% endblocktrans %}
  </p>

  <form class="form" method="post">
    {% csrf_token %}

    <input type="submit" class="btn btn-md btn-danger"
           value="Delete {{ name }}"/>
  </form>

{% endblock %}
