{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# ToDo: if connection is disabled, no information are visible anymore (Bug)
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block page_head %}
<style type="text/css">
  .list-group-item .btn {
    margin: -5px 0;
  }
  .form-inline {
    display: inline;
  }
</style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-8">
    <div>
      <a href="{% url 'networks:edit' connection.uuid %}"
      class="btn btn-primary" role="button"
      title="{% trans "Edit connection" %}">{% trans "Edit" %}</a>

      {% if active_connection %}
      <form class="form form-inline" method="post"
      action="{% url 'networks:deactivate' connection.uuid %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit">
        {% trans "Deactivate" %}</button>
      </form>
      {% else %}
      <form class="form form-inline" method="post"
      action="{% url 'networks:activate' connection.uuid %}">
      {% csrf_token %}
      <button class="btn btn-default" type="submit">
        {% trans "Activate" %}</button>
      </form>
      {% endif %}

      <a href="{% url 'networks:delete' connection.uuid %}"
      class="btn btn-default" role="button"
      title="{% trans "Delete connection" %}">{% trans "Delete" %}</a>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             {% trans "Connection" %}
           </a>
         </h4>
       </div>
       <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="list-group panel-body">
          {% if connection.primary %}
          <div class="list-group-item">
            {% trans "Primary connection" %}
            <div class="pull-right">
              <span class="label label-success">{% trans "yes" %}</span>
            </div>
          </div>
          {% endif %}
          <div class="list-group-item">
            {% trans "Name" %}
            <div class="pull-right">{{ connection.id }}</div>
          </div>
        </div>
      </div>
    </div>


    {% if device %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {% trans "Device" %}

          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="list-group panel-body">
          <div class="list-group-item">
            {% trans "State" %}
            <span class="pull-right">{{ device.state }}</span>
          </div>
          {% if device.state_reason != 'none' %}
          <div class="list-group-item">
            {% trans "State reason" %}
            <span class="pull-right">{{ device.state_reason }}</span>
          </div>
          {% endif %}
          <div class="list-group-item">
            {% trans "Type" %}
            <span class="pull-right">{{ device.type }}</span>
          </div>
          <div class="list-group-item">
            {% trans "MAC address" %}
            <span class="pull-right">{{ device.hw_address }}</span>
          </div>
          <div class="list-group-item">
            {% trans "Interface" %}
            <span class="pull-right">{{ device.interface_name }}</span>
          </div>
          <div class="list-group-item">
            {% trans "Description" %}
            <span class="pull-right">{{ device.description }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            {% trans "Physical Link" %}
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="list-group panel-body">
          {% if device.ethernet %}
          <div class="list-group-item">
            {% trans "Link state" %}
            <div class="pull-right">
              {% if device.ethernet.carrier %}
              <span class='label label-success'>
                {% trans "cable is connected" %}</span>
                {% else %}
                <span class='label label-warning'>
                  {% trans "please check cable" %}</span>
                  {% endif %}
                </div>
              </div>
              <div class="list-group-item">
                {% trans "Speed" %}
                <span class="pull-right">
                  {% blocktrans trimmed with ethernet_speed=device.ethernet.speed %}
                  {{ ethernet_speed }} Mbit/s
                  {% endblocktrans %}
                </span>
              </div>
              {% endif %}

              {% if connection.type == "802-11-wireless" %}
              <div class="list-group-item">
                {% trans "SSID" %}
                <span class="pull-right">{{ connection.wireless.ssid }}</span>
              </div>
              {% if device %}
              <div class="list-group-item">
                {% trans "Speed" %}
                <span class="pull-right">
                  {% blocktrans trimmed with wireless_bitrate=device.wireless.bitrate %}
                  {{ wireless_bitrate }} Mbit/s
                  {% endblocktrans %}
                </span>
              </div>
              <div class="list-group-item">
                {% trans "Mode" %}
                <span class="pull-right">{{ device.wireless.mode }}</span>
              </div>
              {% endif %}
              {% if access_point.channel %}
              <div class="list-group-item">
                {% trans "Signal strength" %}
                <div class="pull-right">
                  <span class="btn btn-primary btn-xs">
                    {{ access_point.strength }}%
                  </span>
                </div>
              </div>
              {% endif %}
              {% if access_point.channel %}
              <div class="list-group-item">
                {% trans "Channel" %}
                <span class="pull-right">{{ access_point.channel }}</span>
              </div>
              {% endif %}
              {% endif %}
            </div>

          </div>
        </div>
        
        {% if active_connection %}
        <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="headingFour">
           <h4 class="">
             <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
               {% trans "IPv4" %}
             </a>
           </h4>
         </div>
         <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
           <div class="list-group panel-body">
            {% if connection.ipv4.method %}
            <div class="list-group-item">
              {% trans "Method" %}
              <span class="pull-right">{{ connection.ipv4.method }}</span>
            </div>
            {% endif %}

            {% for address in device.ip4.addresses %}
            <div class="list-group-item">
              {% trans "IP address" %}
              <span class="pull-right">
                {{ address.address }}/{{ address.prefix }}
              </span>
            </div>
            {% endfor %}

            {% if device.ip4.gateway %}
            <div class="list-group-item">
              {% trans "Gateway" %}
              <span class="pull-right">{{ device.ip4.gateway }}</span>
            </div>
            {% endif %}

            {% for server in device.ip4.nameservers %}
            <div class="list-group-item">
              {% trans "DNS server" %}
              <span class="pull-right">{{ server }}</span>
            </div>
            {% endfor %}

            {% if active_connection.ip4.default %}
            <div class="list-group-item">
              {% trans "Default" %}
              <span class="pull-right">{% trans "yes" %}</span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              {% trans "IPv6" %}
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="list-group panel-body">
            {% if connection.ipv6.method %}
            <div class="list-group-item">
              {% trans "Method" %}
              <span class="pull-right">{{ connection.ipv6.method }}</span>
            </div>
            {% endif %}

            {% for address in device.ip6.addresses %}
            <div class="list-group-item">
              {% trans "IP address" %}
              <span class="pull-right">{{ address.address }}/{{ address.prefix }}</span>
            </div>
            {% endfor %}

            {% if device.ip6.gateway %}
            <div class="list-group-item">
              {% trans "Gateway" %}
              <span class="pull-right">{{ device.ip6.gateway }}</span>
            </div>
            {% endif %}

            {% for server in device.ip6.nameservers %}
            <div class="list-group-item">
              {% trans "DNS server" %}
              <span class="pull-right">{{ server }}</span>
            </div>
            {% endfor %}

            {% if active_connection.ip6.default %}
            <div class="list-group-item">
              {% trans "Default" %}
              <span class="pull-right">{% trans "yes" %}</span>
            </div>
            {% endif %}
          </div>
          {% else %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  {% trans "Status" %}
                </a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
             
              <p>{% trans "This connection is not active." %}</p>

              {% endif %}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                 {% trans "Security" %}
               </a>
             </h4>

           </div>
           <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            {% if connection.zone == "internal" %}
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item">
                  {% trans "Firewall zone" %}
                  <div class="pull-right">
                    <span class="label label-success">{{ connection.zone }}</span>
                  </div>
                </div>
              </div>

              <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% blocktrans trimmed %}
                This interface should be connected to a local
                network/machine.  If you connect this interface to a
                public network, services meant to be available only
                internally will become available externally.  This is a
                security risk.
                {% endblocktrans %}
              </div>
            </div>
            {% elif connection.zone == "external" %}
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item">
                  {% trans "Firewall zone" %}
                  <div class="pull-right">
                    <span class="label label-warning">{{ connection.zone }}</span>
                  </div>
                </div>
              </div>

              <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {% blocktrans trimmed %}
                This interface should receive your Internet connection.
                If you connect it to a local network/machine, many
                services meant to available only internally will not be
                available.
                {% endblocktrans %}
              </div>
            </div>
            {% else %}
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item">
                  {% trans "Firewall zone" %}
                  <div class="pull-right">
                    <span class="label label-danger">{{ connection.zone }}</span>
                  </div>
                </div>
              </div>
              <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {% blocktrans trimmed %}
                This interface is not maintained by {{ box_name }}.  Its
                security status is unknown to {{ box_name }}.  Many {{ box_name }}
                services may not be available on this interface.  It is
                recommended that you deactivate or delete this connection and
                re-configure it.
                {% endblocktrans %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
