{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Edit Connection" %}"/>
  </form>

{% endblock %}

{% block page_js %}

    <script>
        /*    
        @licstart  The following is the entire license notice for the 
        JavaScript code in this page.

        The MIT License (MIT)

        Copyright (c) 2014 Klaus Herberth <klaus@jsxc.org>

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.

        @licend  The above is the entire license notice
        for the JavaScript code in this page.
        */
    </script>
    
    <script type="text/javascript">
    (function($) {

        function ip_required(required, ip_version, fields) {
            var prefix = '#id_' + ip_version + '_';
            for (var i = 0; i < fields.length; i++) {
                $(prefix + fields[i]).prop("required", required);
            }
        }

        function ip_readonly(readonly, ip_version, fields) {
            var prefix = '#id_' + ip_version + '_';
            for (var i = 0; i < fields.length; i++) {
                $(prefix + fields[i]).prop("readOnly", readonly);
                if (readonly) {
                    $(prefix + fields[i]).val("");
                    $(prefix + fields[i]).prop("required", false);
                }
            }
        }

        function on_ipv4_method_change() {
            if ($("#id_ipv4_method").prop("value") == "manual") {
                ip_required(true, 'ipv4', ['address']);
                ip_readonly(false, 'ipv4', ['address', 'netmask', 'gateway',
                                            'dns', 'second_dns']);
            } else if ($("#id_ipv4_method").prop("value") == "shared") {
                ip_required(false, 'ipv4', ['address']);
                ip_readonly(false, 'ipv4', ['address', 'netmask']);
                ip_readonly(true, 'ipv4', ['gateway', 'dns', 'second_dns']);
            } else if ($("#id_ipv4_method").prop("value") == "auto") {
                ip_readonly(true, 'ipv4', ['address', 'netmask', 'gateway']);
                ip_readonly(false, 'ipv4', ['dns', 'second_dns']);
            } else {
                ip_readonly(true, 'ipv4', ['address', 'netmask', 'gateway',
                                           'dns', 'second_dns']);
            }
        }

        function on_ipv6_method_change() {
            if ($("#id_ipv6_method").prop("value") == "manual") {
                ip_required(true, 'ipv6', ['address', 'prefix']);
                ip_readonly(false, 'ipv6', ['address', 'prefix', 'gateway',
                                            'dns', 'second_dns']);
            } else if ($("#id_ipv6_method").prop("value") == "auto" ||
                       $("#id_ipv6_method").prop("value") == "dhcp") {
                ip_readonly(true, 'ipv6', ['address', 'prefix', 'gateway']);
                ip_readonly(false, 'ipv6', ['dns', 'second_dns']);
            } else {
                ip_readonly(true, 'ipv6', ['address', 'prefix', 'gateway',
                                           'dns', 'second_dns']);
            }
        }

        $("#id_name").focus();

        $("#id_ipv4_method").change(on_ipv4_method_change).change();
        $("#id_ipv6_method").change(on_ipv6_method_change).change();

        $('#id_show_password').change(function() {
            // Changing type attribute from password to text is prevented by
            // most browsers. Making a new form field works.
            new_type = 'password';
            if ($('#id_show_password').prop('checked'))
                new_type = 'text';

            $('#id_password').replaceWith(
                $('#id_password').clone().attr('type', new_type));
        });

    })(jQuery);
  </script>

{% endblock %}
