{% extends "app.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block page_head %}
  <style type="text/css">
    .connection-status-label {
        display: inline-block;
        width: 5.5em;
        padding: 5px 0px;
        text-align: center;
        margin-right: 10px;
    }

    .connection-show-label {
        display: inline-block;
        width: 40%;
    }

    .connection-type-label {
        display: inline-block;
    }

    .list-group-item .btn {
        margin: -2px 0;
    }

    .form-action.pull-right {
        margin-right: 20px;
    }

    .form-action button {
        min-width: 7em;
    }
  </style>
{% endblock %}

{% block configuration %}
  {% include "connections_list.html" %}

  {% include "network_topology_main.html" %}

  {% include "internet_connectivity_main.html" %}

  <h3>{%trans "Advanced" %} </h3>
  <p>
    {% blocktrans trimmed %}
      Advanced networking operations such as bonding, bridging and VLAN
      management are provided by the <a href="/_cockpit/network">Cockpit</a>
      app.
    {% endblocktrans %}
  </p>
{% endblock %}
