{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block content %}
<h1>{% trans "Setup FreedomBox Behind a Router" %}</h1>
  <p>
    {% blocktrans trimmed %}
    Your Freedombox gets its internet connection from your router via Wi-Fi or Ethernet cable.
    This is a typical home setup.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
    With this setup, any device on the internet trying to reach your Freedombox will have to
    go through your router. The router will need to be configured to forward all traffic
    it receives so that Freedombox provides the services.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
    If you don't have control over your router, choose not to configure it. To see options,
    to overcome this limitation, choose 'no public address' option in Internet connection
    type selection.
    {% endblocktrans %}
  </p>

  <h2>{% trans "Choose How You Wish to Configure Your Router" %}</h2>
  <p class='help-block'>
    {% blocktrans trimmed %}
    You will need to login to your router's administration
    console provided by the router. This may look like
    <a href="http://192.168.0.1/">http://192.168.168.0.1</a>.
    The username and password is configured by you
    when you first setup the router. For many routers, this
    information is printed at the back of the router. If you
    don't remember the credentials or the IP address of the
    router, you may decide to reset it and set it up freshly.
    Lookup your router model number and search online for the
    router's manual. This will provide full instructions on
    how to perform this task.
    {% endblocktrans %}
  </p>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Submit" %}"/>

  </form>

{% endblock %}
