{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

<h3>
  {% blocktrans trimmed %}
    {{ box_name }} Internet Connectivity
  {% endblocktrans %}
</h3>

<p>
  {% blocktrans trimmed %}
    The following best describes how your {{ box_name }} is connected in your
    network. This information is used only to suggest necessary configuration
    actions.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans trimmed %}
    Your {{ box_name }} gets its Internet from your Router via Wi-Fi or
    Ethernet cable. This is a typical home setup.
  {% endblocktrans %}
  <a href="{% url 'networks:router_setup' %}" class="btn btn-default"
     role="button">
    {% trans 'Update...' %}
  </a>
</p>
