{% extends 'login_nav.html' %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% block main_block %}

<p>File explorer for users that also have shell accounts.</p> <p>Until
that is written (and it will be a while), we should
install <a href="http://www.mollify.org/demo.php">mollify</a>
or <a href="http://www.ajaxplorer.info/wordpress/demo/">ajaxplorer</a>,
but of which seem to have some support for playing media files in the
browser (as opposed to forcing users to download and play them
locally).  The downsides to third-party explorers are: they're don't
fit within our theme system, they require separate login, and they're
written in php, which will make integrating them hard.</p>

<p>There are, of course, many other options for php-based file
explorers.  These were the ones I saw that might do built-in media
players.</p>

<p>For python-friendly options, check out <a
href="http://blogfreakz.com/jquery/web-based-filemanager/">FileManager</a>.
It appears to be mostly javascript with some bindings to make it
python-friendly.</p>

{% endblock %}
