#import cgi
#set $host = $cgi.escape($host)
#set $service = $cgi.escape($service)
<html>
  <head>
    <style>
      form {
        display: inline;
      }
    </style>
  </head>
  <body>
    <p>You are <a href="/consuming">consuming</a> $service from
      <a href="/consuming/$host">$host</a> at:</p>
    <form method="post" action="/learn/$host/$service">
      <input type="submit" value="Learn More Locations?" />
    </form>
    #if $locations
    <ul>
      #for $location in $locations
      #set $location = $cgi.escape($location)
      <li>
        <a href="$location">$location</a>
        <form method="post" 
              action="/consuming/$host/$service">
          <input type="hidden" name="delete" value="$location" />
          <input type="submit" value="Delete" />
        </form>
      </li>
      #end for
    </ul>
    #end if
    <hr />
    <form method="post" 
          action="/consuming/$host/$service">
      <label>Location: <input name="put" /></label>
      <input type="submit" value="Create New Location" />
    </form>
  </body>
</html>
