#import cgi
#set $host = $cgi.escape($host)
<html>
  <head>
    <style>
      form {
        display: inline;
      }
    </style>
  </head>
  <body>
    <p>You are <a href="/consuming">consuming</a> services from
      $host:</p>
    #if $services
    <ul>
      #for $service in $services
      #set $service = $cgi.escape($service)
      <li>
        <a href="/consuming/$host/$service">
          $service</a>
        <form method="post" action="/consuming/$host">
          <input type="hidden" name="delete" value="$service" />
          <input type="submit" value="Delete" />
        </form>
      </li>
      #end for
    </ul>
    #end if
    <hr />
    <form method="post" action="/consuming/$host">
      <label>Service: <input name="put" /></label>
      <input type="submit" value="Create New Service" />
    </form>
  </body>
</html>
