#import cgi
<html>
  <head>
    <style>
      form {
        display: inline;
      }
    </style>
  </head>
  <body>
    #if $clients
    <p>You are hosting services for:</p>
    <ul>
      #for $client in $clients
      #set $client = $cgi.escape($client)
      <li><a href="/hosting/$client">$client</a>
        <form method="post" action="/hosting">
          <input type="hidden" name="delete" value="$client" />
          <input type="submit" value="Delete" />
        </form>
      </li>
      #end for
    </ul>
    #end if

    <hr />
    <form method="post" action="/hosting">
      <label>Client: <input name="put" /></label>
      <input type="submit" value="Create New Client" />
    </form>
  </body>
</html>
