[submodule "vendor/withsqlite"]
	path = vendor/withsqlite
	url = git://github.com/jvasile/withsqlite.git
[submodule "vendor/exmachina"]
	path = vendor/exmachina
	url = git://github.com/jvasile/exmachina.git
