*.pyc
*.py.bak
*.swp
*.tiny.css
data/var/log/plinth/*.log
data/var/lib/plinth/*.sqlite3
data/var/lib/plinth/sessions/*
data/var/run/*.pid
doc/*.pdf
doc/*.html
doc/freedombox-manual.xml
doc/plinth.1
\#*
.#*
*~
predepend
build/
.emacs.desktop*
*.egg-info/
dist/
.coverage
plinth/tests/coverage/report/
*.mo
.vagrant/
.idea/
.DS_Store
*.box
.eggs
.pybuild/
debian/.debhelper/
debian/files
debian/plinth.debhelper.log
debian/plinth.postinst.debhelper
debian/plinth.postrm.debhelper
debian/plinth.preinst.debhelper
debian/plinth.prerm.debhelper
debian/plinth.substvars
debian/plinth/
*.pytest_cache/