*.pyc
*.py.bak
*.swp
*.tiny.css
data/var/log/plinth/*.log
data/var/lib/plinth/*.sqlite3
data/var/lib/plinth/sessions/*
data/var/run/*.pid
doc/*.tex
doc/*.pdf
doc/*.html
doc/*.aux
doc/*.toc
doc/*.log
doc/*.out
doc/COPYING.mdwn
doc/INSTALL.mdwn
doc/README.mdwn
doc/TODO.mdwn
doc/oneline.txt
doc/plinth.1
TODO
\#*
.#*
*~
predepend
build/
.emacs.desktop*
*.egg-info/
dist/
.coverage
plinth/tests/coverage/report/
