[global]
server.socket_host = '0.0.0.0'
server.socket_port = 8000
server.thread_pool = 10
tools.staticdir.root = "/home/vasile/src/plinth"
tools.sessions.on = True
tools.auth.on = True
tools.sessions.storage_type = "file"
tools.sessions.storage_path = "/home/vasile/src/plinth/data/cherrypy_sessions"
tools.sessions.timeout = 90

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"

[/favicon.ico]
tools.staticfile.on = True
tools.staticfile.filename = "/home/vasile/src/plinth/static/theme/favicon.ico"

