[Name]
product_name = Plinth
box_name = FreedomBox

[Path]
# directory locations
file_root = %(root)s
config_dir = %(file_root)s/data/etc/plinth
data_dir = %(file_root)s/data/var/lib/plinth
log_dir = %(file_root)s/data/var/log/plinth
pid_dir = %(file_root)s/data/var/run
server_dir = /
actions_dir = %(file_root)s/actions
doc_dir = %(file_root)s/doc

# file locations
store_file = %(data_dir)s/plinth.sqlite3
status_log_file = %(log_dir)s/status.log
access_log_file = %(log_dir)s/access.log
pidfile = %(pid_dir)s/plinth.pid

[Network]
host = 127.0.0.1
port = 8000
