[Name]
product_name = Plinth
box_name = FreedomBox

[Path]
file_root = /usr/lib/python2.7/plinth
data_dir = /var/lib/plinth
store_file = %(data_dir)s/store.sqlite3
user_db = %(data_dir)s/users
status_log_file = /var/log/plinth/status.log
access_log_file = /var/log/plinth/access.log
users_dir = %(data_dir)s/users
pidfile = /var/run/plinth.pid

[Network]
host = 127.0.0.1
port = 8000
