[Name]
product_name = Plinth
box_name = FreedomBox

[Path]
# directory locations
file_root = %(root)s
data_dir = %(file_root)s/data
log_dir = %(data_dir)s
pid_dir = %(data_dir)s
python_root = %(file_root)s
server_dir = plinth/

# file locations
store_file = %(data_dir)s/store.sqlite3
user_db = %(data_dir)s/users.sqlite3
status_log_file = %(log_dir)s/status.log
access_log_file = %(log_dir)s/access.log
pidfile = %(pid_dir)s/pidfile.pid

[Network]
host = 127.0.0.1
port = 8000
