[tool.isort]
known_first_party = ["plinth"]

[tool.coverage.run]
branch = true
omit = ["*/tests/*"]

[tool.coverage.report]
precision = 2
omit = ["*/tests/*"]

[tool.pytest.ini_options]
addopts = "--ds=plinth.tests.data.django_test_settings"
markers = [
    "essential",
    "functional",
    "skip",
    "heavy",
    "apps",
    "avahi",
    "backups",
    "bepasty",
    "bind",
    "calibre",
    "cockpit",
    "config",
    "coturn",
    "datetime",
    "deluge",
    "domain",
    "dynamicdns",
    "ejabberd",
    "gitweb",
    "help",
    "i2p",
    "ikiwiki",
    "infinoted",
    "jsxc",
    "matrixsynapse",
    "mediawiki",
    "minetest",
    "minidlna",
    "mumble",
    "openvpn",
    "pagekite",
    "performance",
    "privoxy",
    "quassel",
    "radicale",
    "roundcube",
    "samba",
    "searx",
    "security",
    "shadowsocks",
    "sharing",
    "snapshot",
    "ssh",
    "sso",
    "storage",
    "syncthing",
    "system",
    "tor",
    "transmission",
    "ttrss",
    "upgrades",
    "users",
    "zoph",
]
