{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% load pagekite_extras %}



{% block content %}
  <h3>{% trans 'Add custom PageKite service' %}</h3>
  <div class="alert alert-warning" role="alert">
    {% blocktrans trimmed %}
    <b>Warning:</b><br>Your PageKite frontend server may not support
    all the protocol/port combinations that you are able to define
    here. For example, HTTPS on ports other than 443 is known to
    cause problems.
    {% endblocktrans %}
  </div>
 

  <form class="form" method="post">
      {% csrf_token %}

      {{ form|bootstrap }}

      <input type="submit" class="btn btn-primary"
             value="{% trans "Submit" %}"/>
  </form>

{% endblock %}


