{% extends "pagekite_base.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block page_head %}
  <style type="text/css">
    div.checkbox .help-block {
      display: inline-block;
      margin: 0px 10px;
    }
    input.btn {
      margin: 10px 15px;
    }
  </style>
{% endblock %}

{% block configuration %}

  <div class="alert alert-warning" role="alert">

    {% trans "<b>Warning:</b><br/>" %}

    <p>
      {% blocktrans trimmed %}
        Published services are accessible and attackable from the evil
        Internet.
      {% endblocktrans %}
    </p>

  </div>

  <form class="form predefined" method="post">
    {{ form.http|bootstrap_horizontal:'col-lg-0' }}
    {{ form.https|bootstrap_horizontal:'col-lg-0' }}
    {{ form.ssh|bootstrap_horizontal:'col-lg-0' }}
    {% csrf_token %}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Save Services" %}"/>
  </form>

{% endblock %}

