/*
# SPDX-License-Identifier: AGPL-3.0-or-later
*/

.warning {
    color: var(--warning-color);
}

.processing {
    color: var(--progress-color);
}

.normal {
    color: var(--neutral-dark-color);
}
