# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=WordPress Scheduled Events Trigger (Cron) Timer
Documentation=https://rtcamp.com/tutorials/wordpress/wp-cron-crontab/

[Timer]
OnCalendar=*:0/10

[Install]
WantedBy=timers.target
