{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block page_head %}
  <style type="text/css">
   .navbar-brand {
       display: none;
   }
  </style>
{% endblock %}

{% block add_nav_and_login %}
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="{% url 'help:index' %}">
        <span class="glyphicon-question-sign glyphicon nav-icon"></span>
      </a>
    </li>
  </ul>
{% endblock %}

{% block content_row %}
  <p class="text-center">
    <img src="{% static 'theme/img/FreedomBox-logo-standard.png' %}"
         alt="FreedomBox" width="640"/>
  </p>

  <h3 class="text-center">
    {% trans "Congratulations! Your FreedomBox is up and running!" %}
  </h3>

  <p class="text-center">
    {% blocktrans trimmed %}
      Please provide the following basic information to complete the
      setup process.
    {% endblocktrans %}
  </p>

  <p class="text-center">
    <a href="{% url 'first_boot:state1' %}"
       class="btn btn-primary btn-large">{% trans "Next" %}</a>
  </p>
{% endblock %}
