{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content_row %}

  <div class="col-lg-6 col-lg-offset-3">
    {% include 'messages.html' %}

    <h2>{% trans "Setup Complete!" %}</h2>

    <p>
      {% blocktrans trimmed %}
        FreedomBox setup is now complete.  However, you should check
        the network setup and modify it if necessary.  Do not forget
        to change the default Wi-Fi passwords.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        To make your FreedomBox functional, you need some
        applications.  Applications will be installed the first time
        you access them.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Network Configuration" %}</h3>

    {% include "connections_diagram.html" %}

    <div class="row">
      <div class="col-xs-6 text-center">
        <a class="btn btn-lg btn-primary" href="{% url 'networks:index' %}">
          {% trans "Go to Networks" %}</a>
      </div>

      <div class="col-xs-6 text-center">
        <a class="btn btn-lg btn-primary" href="{% url 'apps:index' %}">
          {% trans "Go to Apps" %}</a>
      </div>
    </div>
  </div>

{% endblock %}
