{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load static %}
{% load bootstrap %}

{% block page_head %}
  <link rel="stylesheet" href="{% static 'first_boot/state0.css' %}"/>
{% endblock %}

{% block main_block %}

  <h2>Welcome to Your FreedomBox!</h2>

  <p>It looks like this {{ cfg.box_name }} isn't set up yet.  Provide basic
    data to get started.</p>
  <br>

  <form class="form" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" class="btn-primary" value="Box it up!"/>

  </form>

{% endblock %}

{% block sidebar_right_block %}
  {% include "firstboot_sidebar.html" %}
{% endblock %}

{% block page_js %}
  <script>
    $('#id_hostname').focus();
  </script>
{% endblock %}
