/* TODO: remove this when we stop putting everything in a hero unit */
form .control-label {
    font-size: large;
}

form .help-block {
    font-size: small;
}

/* TODO: remove this customization once we use bootstrap3 */
.has-error span.help-block {
    color: red;
}
