form .control-label {
    font-size: large;
}
form .help-block {
    font-size: small;
}
/* TODO: remove this customization once we use bootstrap3 */
.has-error span.help-block {
    background-color: red;
}

