[Unit]
Description=Run unattended-upgrade once
Documentation=https://wiki.debian.org/FreedomBox/Manual/Upgrades

[Service]
Type=oneshot
ExecStartPre=-apt-get update --assume-yes --quiet
ExecStart=unattended-upgrade --verbose
KillMode=process
TimeoutStopSec=900
