# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=handle automounting
Documentation=man:udiskie(1)

[Service]
ExecStart=/usr/bin/udiskie
LockPersonality=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full
RestrictAddressFamilies=AF_UNIX
RestrictRealtime=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
