.dashboard-grid {
  margin: 15px;
}

.statusline {
  text-align: left;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 3px 0px 0px 10px;
  height: 30px;
  background-color: #ebebeb;
  border-top: 1px solid #d1d1d1;
}

.separator {
  font-weight: bold;
  font-size: larger;
}
 
/* fluid grid */
.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
}

.container-fluid .panel {
 display: inline-block;
 margin:  0.25rem;
 width:  200px; 
 text-align: center;
}

.dashboard-grid .panel {
  margin-bottom: 30px;
}
/* give the panel-body of services a min height */
.dashboard-grid .panel-body {
  min-height: 90px;
}
/* service name */
.dashboard-grid .panel-heading .appname {
  font-size: larger;
  display: inline-block;
  width: 94px;
}
.dashboard-grid .panel-heading {
  padding-left: 0px;
  color: #4D4D4D;
}

.panel.enabled {
  border-color: rgb(182, 182, 182);
}
.panel.enabled .panel-heading {
  background-color: #EEEEEE;
  color: #333;
  border-color: rgb(182, 182, 182);
}
