body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#EEE;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
	font-family:Arial, Helvetica, sans-serif;
}
a {
	color:#3D8FE2;
	text-decoration:none;
}
a:hover {
	color:#fff;
	background:#3D8FE2;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom:1px solid #000;
}

#headerleft {
    float: left;
    padding-left: 1em;
}
#headerleft a { color:#1D6FE2; text-decoration:none; outline: none;}

#headerright {
    float:left;
}
#headerright p,
#headerright h1,
#headerright h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}

#headerright h1 a,
#headerright h2 a {color:black; text-decoration:none; outline: none;}
#headerright ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#headerright ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#headerright ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#EEE;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#headerright ul li a:hover {
	background:lightblue;
	color:#fff;
}
#headerright ul li a.active,
#headerright ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
	text-decoration:none;
}
#headerright ul li a span {
	display:block;
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	background:lightblue;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0em 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}

.col2 h2,
.col3 h2 {color:black;
	      font-weight:bold;
	      font-size:100%;	      
	      text-align:center;
	      background:cornflowerblue;
	      margin-top: 1em;
	      margin-bottom: 0.4em;}
.col2 h3,
.col3 h3 {color:black;
	      font-weight:bold;
	      font-size:100%;	      
	      text-align:left;
	      padding-top: 0em;
	      margin-top: 0em;
	      margin-bottom: 0em;}
.col3 p {
	margin: 0.4em 0.5em .8em 0.5em;
	padding:0;
}
.col2 li {padding-bottom: 0.2em;}
.col2 a {padding-left: 0.2em;}
.col2 a.active,
.col2 a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
	text-decoration:none;
	padding: 0.2em;
}

/* 3 Column settings */
.threecol {
	background:#eee;		/* right column background colour */
	background:#EEE;
}
.threecol .colmid {
	right:25%;			 /* width of the right column */
	background:lightblue;
}
.threecol .colleft {
	right:50%;			/* width of the middle column */
	background:#f4f4f4;	/* left column background colour */
	background:#EEE;
}
.threecol .col1 {
	width:46%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:21%;			/* Width of left column content (column width minus padding on either side) */
	left:31%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */

	/* Note this used to be 85%, but I subtracted 1% for padding to pull stuff closer to the margin */
	left:84%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
	padding: 1em;
	font-size:75%;
	background:lightblue;
}
#footer p {
	margin:0;
}

/* Form Styles */
form.form {
margin:0 auto;
width:100%;
background:#EEE;
position:relative;
margin-top:2em;
}

form.form h2 { 
color:#ffffff;
font-size:1.2em;
background:lightblue;
text-transform:uppercase;
padding:0.5em 0em 0.5em 0.5em;
margin-bottom: 1em;
}

form.form h3 { 
color:red;
font-weight:bold;
font-size:1em;
padding:0.5em 0 0.5em 0.5em;
text-align:center;
background:#EEE;
}

form.form .line,
form.form p {
width:94%;
display: block;
background:#EEE;
padding:0.5em 0em 1em 1em;

padding-right:0.5em;
margin-left:0.5em;
background:#1D6FE2;
margin-top: 0em;
margin-bottom: 0em;
}
form.form label {
width:100%;
display: block;
background:#EEE;
padding:1em 0 0.5em 0em;
}

form.form .submit {
    text-align:left;
}

form.form .indent {
    padding: 0px;
    padding-left: 0.75em;
}

form.form label span {
display: block;
color:black;
font-size:12px;
float:left;
width:30%;
text-align:right;
padding:0.5em 2em 0 0;
}

form.form .inputtext {
padding:0.2em 0.3em 0.2em 0.3em;
background:#1D6FE2;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
}

form.form .checkbox {    text-align: left;}

form.form .inputtextnowidth {
padding:0.5em 0.5em 0em 0em;
background:#1D6FE2;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
}

form.form .textbox{
padding:7px 7px;
width:60%;
background:#1D6FE2;
border-bottom: 1px double #171717;
border-top: 1px double #171717;
border-left:1px double #333333;
border-right:1px double #333333;
overflow:hidden;
height:150px;
}

form.form .button
{
margin:0 0 10px 0;
padding:4px 7px;
background:lightblue;
border:0px;
position: relative;
top:10px;
width:100px;
border-bottom: 1px double lightblue;
border-top: 1px double cornflowerblue;
border-left:1px double lightblue;
border-right:1px double cornflowerblue;
}

.err {color:red;}