/* 2 Column settings */

.colright {
	float:left;
	width:0%;			/* width of page */
	position:relative;
}

.threecol .colmid {
	right:5%;			 /* width of the right column */
}
.threecol .colleft {
	right:70%;			/* width of the middle column */
}
.threecol .col1 {
	width:66%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:21%;			/* Width of left column content (column width minus padding on either side) */
	left:11%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:21%;			/* Width of right column content (column width minus padding on either side) */

	/* Note this used to be 85%, but I subtracted 1% for padding to pull stuff closer to the margin */
	left:84%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

