{% extends "app.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block configuration %}
  <form class="form" method="post">
    {% csrf_token %}

    <noscript>
      {% blocktrans trimmed %}
        You have disabled Javascript. Dynamic form mode is disabled
        and some helper functions may not work (but the main
        functionality should work).
      {% endblocktrans %}
    </noscript>

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Update setup" %}"/>
  </form>
{% endblock %}

{% block extra_content %}
  <h3>{% trans "Status" %}</h3>

  <p>{% trans "Last update" %}: {{ status.last_update }}</p>
{% endblock %}

{% block page_js %}
  <script type="text/javascript" src="{% static 'dynamicdns/dynamicdns.js' %}"></script>
{% endblock %}
