{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see http://www.gnu.org/licenses/.
#
{% endcomment %}

{% load bootstrap %}

{% block content %}

  <form class="form" method="post">
    {% csrf_token %}
    <div id='dynamicdns-no-js'>
      You have disabled Javascript. Dynamic form mode is disabled and 
      some helper functions may not work <br>
      (but the main functionality should work)
      <br><hr>
    </div>

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary" value="Update setup"/>

  </form>

{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    (function($) {
      $('#dynamicdns-no-js').hide();
      $('.form-group').hide();
      $('#id_dynamicdns-enabled').closest('.form-group').show();
      if ($('#id_dynamicdns-enabled').prop('checked')) {
        show_all();
        configure_dropdown();
      }

      $('#id_dynamicdns-enabled').change(function() {
        if ($('#id_dynamicdns-enabled').prop('checked')) {
          show_all();
        } else {
          $('.form-group').hide();
          $('#id_dynamicdns-enabled').closest('.form-group').show();
        }
      });

      $('#id_dynamicdns-service_type').change(function() {
        configure_dropdown();
      });

      $('#id_dynamicdns-showpw').change(function() {
        //changing type attribute from password to text is prevented by
        //most browsers make a new form field works for me
        if ($('#id_dynamicdns-showpw').prop('checked')) {
              $('#id_dynamicdns-dynamicdns_secret').replaceWith(
                      $('#id_dynamicdns-dynamicdns_secret').clone().attr(
                              'type', 'text'));
        }else{
              $('#id_dynamicdns-dynamicdns_secret').replaceWith(
                      $('#id_dynamicdns-dynamicdns_secret').clone().attr(
                              'type', 'password'));
        }
      });

      function configure_dropdown()
      {
        var SELFHOST = 'https://carol.selfhost.de/update?username=<User>&' +
                       'password=<Pass>&myip=<Ip>'
        var NOIP = 'http://dynupdate.no-ip.com/nic/update?hostname=<' +
                   'Domain>&myip=<Ip>'

        if ($("#id_dynamicdns-service_type option:selected").text() == "GnuDIP") {
          document.getElementById('id_dynamicdns-dynamicdns_update_url').value = '';
          $('#id_dynamicdns-dynamicdns_update_url').closest('.form-group').hide();
          $('#id_dynamicdns-disable_SSL_cert_check').closest('.form-group').hide();
          $('#id_dynamicdns-use_http_basic_auth').closest('.form-group').hide();
          $('#id_dynamicdns-dynamicdns_server').closest('.form-group').show();
        }else{
          $('#id_dynamicdns-dynamicdns_update_url').closest('.form-group').show();
          $('#id_dynamicdns-disable_SSL_cert_check').closest('.form-group').show();
          $('#id_dynamicdns-use_http_basic_auth').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_server').closest('.form-group').hide();
          if ($("#id_dynamicdns-service_type option:selected").text() == "noip.com") {
            $('#id_dynamicdns-dynamicdns_update_url').val(NOIP);
          }
          if ($("#id_dynamicdns-service_type option:selected").text() == "selfhost.bz") {
            $('#id_dynamicdns-dynamicdns_update_url').val(SELFHOST);
          }
          if ($("#id_dynamicdns-service_type option:selected").text() == "other update URL") {
            $('#id_dynamicdns-dynamicdns_update_url').val('');
          }
        }
      }

      function show_all()
      {
          $('#id_dynamicdns-enabled').closest('.form-group').show();
          $('#id_dynamicdns-service_type').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_server').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_update_url').closest('.form-group').show();
          $('#id_dynamicdns-disable_SSL_cert_check').closest('.form-group').show();
          $('#id_dynamicdns-use_http_basic_auth').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_domain').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_user').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_secret').closest('.form-group').show();
          $('#id_dynamicdns-showpw').closest('.form-group').show();
          $('#id_dynamicdns-dynamicdns_ipurl').closest('.form-group').show();
      }
    })(jQuery);
  </script>
{% endblock %}
