{% extends "login_nav.html" %}

{% block main_block %}

<p>Privacy controls are not yet implemented.  This page is a
placeholder and a promise: privacy is important enough that it is a
founding consideration, not an afterthought.</p>

{% endblock %}

{% block sidebar_right_block %}

<div class="well sidebar-nav">
  <h3>Statement of Principles</h3>

  <p>When we say your privacy is important, it's not just an empty
  pleasantry.  We really mean it.  Your privacy control panel should
  give you fine-grained control over exactly who can access your {{
  cfg.product_name }} and the information on it.</p>

  <p>Your personal information should not leave this box without your
  knowledge and direction.  And if companies or government wants this
  information, they have to ask <strong>you</strong> for it.  This
  gives you a chance to refuse and also tells you who wants your
  data.</p>
</div>

{% endblock %}
