{% extends "login_nav.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% block main_block %}

<p>Privacy controls are not yet implemented.  This page is a
placeholder and a promise: privacy is important enough that it is a
founding consideration, not an afterthought.</p>

{% endblock %}

{% block sidebar_right_block %}

<div class="well sidebar-nav">
  <h3>Statement of Principles</h3>

  <p>When we say your privacy is important, it's not just an empty
  pleasantry.  We really mean it.  Your privacy control panel should
  give you fine-grained control over exactly who can access your {{
  cfg.product_name }} and the information on it.</p>

  <p>Your personal information should not leave this box without your
  knowledge and direction.  And if companies or government wants this
  information, they have to ask <strong>you</strong> for it.  This
  gives you a chance to refuse and also tells you who wants your
  data.</p>
</div>

{% endblock %}
