{% extends "app.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block status %}
  <a class="btn btn-default" role="button" href="{% url 'security:report' %}"
     title="{% trans 'Show security report' %}">
    <span class="fa fa-line-chart" aria-hidden="true"></span>
    {% trans "Show security report" %}
  </a>

  {% if is_backports_enabled %}
    <h3>{% trans "Security Notice" %}</h3>
    <p>
      {% blocktrans trimmed %}
        Backports are enabled. Please note that packages from the backports
        repository do not have security support from Debian. However, they are
        maintained on a best-effort basis by contributors in Debian and
        FreedomBox community.
      {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}
