{% extends "app.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block status %}
  <h3>{% trans "Status" %}</h3>
  <p>
    {% blocktrans trimmed with count=freedombox_vulns.count %}
      The installed version of FreedomBox has {{ count }} reported security
      vulnerabilities.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
      The following table lists the reported number of security vulnerabilities
      for each installed app.
    {% endblocktrans %}
  </p>
  <a class="btn btn-default collapsed collapsible-button" role="button"
     data-toggle="collapse" href="#collapse-vulns" aria-expanded="false"
     aria-controls="collapse-vulns">
    <span class="fa fa-chevron-right fa-fw" aria-hidden="true"></span>
    {% trans "Show security vulnerabilities" %}
  </a>

  <div class="collapse" id="collapse-vulns">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>{% trans "App Name" %}</th>
          <th>{% trans "Vulnerabilities Reported" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for app in apps_vulns %}
          <tr>
            <td>{{ app.name }}</td>
            <td>{{ app.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
