<html>
<head></head>
<body>
{% load static %}

{% block app_head %}
  <link rel="stylesheet" href="{% static 'vault/vault.css' %}"/>
{% endblock %}

{% block navbar %}
<a href="{% url 'vault:apps' %}">Apps</a>
<a href="{% url 'vault:services' %}">Services</a>
<a href="{% url 'index' %}">Advanced Mode</a>
{% endblock %}
<br><br>

{% include 'messages.html' %}

{% block statusline %}
  {% for name,item in statusline_items.items %}
    {% include item.template with item=item %}
  {% endfor %}
{% endblock %}
<br><br>

{% block content %}{% endblock %}

</body>
</html>
