#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Unit]
Description=Monkeysphere Validation Agent for Web
Documentation=man:msva-perl(1)
After=network.target

[Service]
Environment="MSVA_ALLOWED_USERS=www-data"
Environment="MSVA_LOG_LEVEL=info"
Environment="MSVA_PORT=5808"
ExecStart=/usr/bin/msva-perl
User=msva-www
Group=msva-www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=msva-www

[Install]
WantedBy=multi-user.target
