{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}
{% load plinth_extras %}
{% load static %}

{% if clients  %}
  <p>
    <button id="collapsible-button" type="button" class="btn btn-default collapsed"
            data-toggle="collapse" data-target="#clients">
        Client Apps
    </button>
  </p>

  <table id="clients" class="table table-bordered table-hover collapse">
      {% if clients|has_web_clients %}
    {% for client in clients %}
      {% if client|has_web_clients %}
        {% for platform in client.platforms %}
          {% if platform.type == 'web' %}
       <tr>
          <th> Web </th>
          <td> {{ client.name }} </td>
          <td>
              <a href="{{ platform.relative_url }}">
                  <button type="button" class="btn btn-success">Launch</button>
              </a>
          </td>
       </tr>
       {% endif %}
       {% endfor %}
       {% endif %}
       {% endfor %}
       {% endif %}

       {% if clients|has_desktop_clients %}
       {% for client in clients %}
       {% if client|has_desktop_clients %}
      <tr>
          <th> Desktop </th>
          <td> {{ client.name }} </td>
          <td>
              <div class ="row">
                  {% for platform in client.platforms %}
                  {% if platform.type == 'download' %}
                  <div class="col-md-2 col-xs-4">
                      <a href="{{ platform.url }}">
                          {% with 'theme/icons/'|add:platform.os|add:'.png' as icon %}
                          <img class="os-icon" src="{% static icon %}" />
                          {% endwith %}
                      </a>
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if clients|has_mobile_clients %}
      {% for client in clients %}
      {% if client|has_mobile_clients %}
      <tr>
          <th> Mobile </th>
          <td> {{ client.name }} </td>
          <td>
              <div class="row">
                  {% for platform in client.platforms %}
                  {% if platform.type == 'store' and platform.os == 'android' %}
                  <div class="col-md-2 col-xs-4">
                      <a href="{{ platform.url }}">
                          {% with 'theme/icons/'|add:platform.store_name|add:'.png' as icon %}
                          <img class="os-icon" src="{% static icon %}" />
                          {% endwith %}
                      </a>
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
  </table>

{% endif %}
