{% extends "base_firstboot.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block body_class %}
no-brand
{% endblock %}

{% block content %}

  <div class="logo">
    <img class="firstboot img-fluid" alt="{{ box_name }}"
         src="{% static 'theme/img/freedombox-logo-standard.svg' %}"/>
  </div>

  {% if is_first_setup_running %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans trimmed %}
        Please wait for {{ box_name }} to finish installation.
        You can start using your {{ box_name }} once it is done.
      {% endblocktrans %}
    </div>
  {% endif %}

{% endblock %}
