{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

<header class="app-header {% if not icon_filename %} app-header-single-column {% endif %}">

  {% if icon_filename %}

    <img src="{% static 'theme/icons/' %}{{ icon_filename }}.svg" alt="{{ name  }}"/>

  {% endif %}

  <section class="app-description" >
    <section class='header-bar'>
      {% block pagetitle %}
        {% if setup %}
          <h2>{% trans "Installation" %}: {{ short_description|default:'' }} ({{ name }})</h2>
        {% else %}
          <h2>{{ name }}</h2>
        {% endif %}
      {% endblock %}
      <div id='app-toggle-container' class="app-toggle-container">
          {% if is_enabled %}
            <button id="app-toggle-button" value="False" class="btn toggle-button toggle-button--toggled"></button>
          {% else %}
            <button id="app-toggle-button" value="True" class="btn toggle-button"></button>
          {% endif %}
      </div>
    </section>

    {% block description %}
      {% for paragraph in description %}
        <p>{{ paragraph|safe }}</p>
      {% endfor %}
    {% endblock %}

    {% if manual_page %}
      <p class="manual-page">
        <a href="{% url 'help:manual-page' lang='-' page=manual_page %}">
          {% trans 'Learn more...' %}
        </a>
      </p>
    {% endif %}
  </section>
</header>
