{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{# Template to display a drop down button for notifications in the navbar #}

{% load i18n %}

{% if notifications %}
  <li class="nav-item dropdown notifications-dropdown">
    <a href="#" title="{% trans "Notifications" %}"
       class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
       role="button" aria-expanded="false" aria-haspopup="true"
       data-bs-target=".notifications">
      <span class="fa fa-bell nav-icon"></span>
      <span class="badge rounded-pill
        {% if notifications_max_severity == 'exception' or notifications_max_severity == 'error' %}
          text-bg-danger
        {% elif notifications_max_severity == 'warning' %}
          text-bg-warning
        {% else %}
          text-bg-info
        {% endif %}">
        {{ notifications|length }}
      </span>
    </a>
  </li>
{% endif %}
