{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{# Template to display a drop down button for notifications in the navbar #}

{% load i18n %}

{% if notifications %}
  <li class="dropdown notifications-dropdown">
    <a href="#" title="{% trans "Notifications" %}" class="dropdown-toggle"
       data-toggle="dropdown" role="button" aria-expanded="false"
       data-target=".notifications">
      <span class="fa fa-bell nav-icon"></span>
      <span class="badge badge-{{ notifications_max_severity }}">
        {{ notifications|length }}
      </span>
      <span class="caret"></span>
    </a>
  </li>
{% endif %}
