{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}

{% if port_forwarding_info %}
  <h3>{% trans "Port Forwarding" %}</h3>

  <p>
    {% blocktrans trimmed %}
      If your FreedomBox is behind a router, you will need to set up port
      forwarding on your router. You should forward the following ports for
      {{ service_name }}:
    {% endblocktrans %}
  </p>

  <ul>
    {% for port in port_forwarding_info %}
      <li>{{ port.0 }} {{ port.1 }}</li>
    {% endfor %}
  </ul>
{% endif %}
