{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}

{% if port_forwarding_info %}
  <h3>{% trans "Port Forwarding" %}</h3>

  <p>
    {% blocktrans trimmed %}
      If your FreedomBox is behind a router, you will need to set up port
      forwarding on your router. You should forward the following ports for
      {{ service_name }}:
    {% endblocktrans %}
  </p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{% trans "Protocol" %}</th>
        <th>{% trans "From Router/WAN Ports" %}</th>
        <th>{% blocktrans %}To {{box_name}} Ports{% endblocktrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for port in port_forwarding_info %}
        <tr>
          <td>{{ port.0 }}</td>
          <td>{{ port.1 }}</td>
          <td>{{ port.1 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
