{% extends 'cards.html' %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load static %}
{% load i18n %}

{% block body_class %}system-page{% endblock %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% include 'messages.html' %}
      </div>
    </div>
  </div>

  <div class="container card-container">
    {% for section_item in submenu.sorted_items %}
      <div class="system-section-title">{{ section_item.name }}</div>
      <div class="row">
        <div class="card-list card-list-primary">
          {% for item in section_item.sorted_items %}
            {% if advanced_mode or not item.advanced %}
              {% include "card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
