/*
# SPDX-License-Identifier: AGPL-3.0-or-later

This file is used only by policykit-1 version > 0.105. A corresponding .pkla
file is used by policykit-1 <= 0.105. See:
https://davidz25.blogspot.com/2012/06/authorization-rules-in-polkit.html

*/

polkit.addRule(function(action, subject) {
    if ((action.id == "org.fedoraproject.FirewallD1.config.info" ||
         action.id == "org.fedoraproject.FirewallD1.config" ||
         action.id == "org.fedoraproject.FirewallD1.direct.info" ||
         action.id == "org.fedoraproject.FirewallD1.direct") &&
        subject.user == "plinth") {
        return polkit.Result.YES;
    }
});
