{% extends "app.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}
{% load plinth_extras %}

{% block configuration %}
  {{ block.super }}

  <h3>{% trans "Manage Repositories" %}</h3>

  <div class="btn-toolbar">
    <a href="{% url 'gitweb:create' %}" class="btn btn-default"
       role="button" title="{% trans 'Create repository' %}">
      {% icon 'plus' %}
      {% trans 'Create repository' %}
    </a>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% if not repos %}
        <p>{% trans 'No repositories available.' %}</p>
      {% else %}
        <div id="gitweb-repo-list" class="list-group list-group-two-column">
          {% for repo in repos %}
            <div class="list-group-item">
              {% if 'clone_progress' in repo %}
                <span class="repo-label">{{ repo.name }}</span>
              {% else %}
                <a class="repo-label" href="/gitweb/{{ repo.name }}.git"
                   title="{% blocktrans %}Go to repository {{ repo.name }}{% endblocktrans %}">
                  {{ repo.name }}
                </a>
              {% endif %}

              {% if 'clone_progress' in repo %}
                <span class="repo-cloning secondary">
                  {% trans 'Cloning…' %} {{ repo.clone_progress }}%
                </span>
              {% endif %}

              {% if repo.access == 'private' %}
                {% icon 'lock' class='svg-icon repo-private-icon secondary' %}
              {% endif %}

              <a class="repo-edit btn btn-sm btn-default secondary {% if 'clone_progress' in repo %} disabled {% endif %}"
                href="{% url 'gitweb:edit' repo.name %}">
                {% icon 'pencil-square-o' %}
              </a>

              <a href="{% url 'gitweb:delete' repo.name %}"
                 class="btn btn-default btn-sm secondary {% if 'clone_progress' in repo %} disabled {% endif %}"
                 role="button"
                 title="{% blocktrans %}Delete repository {{ repo.name }}{% endblocktrans %}">
                {% icon 'trash-o' %}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
