# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=FreedomBox Service (Plinth)
Documentation=man:plinth(1)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
ExecStart=/usr/bin/plinth
Restart=on-failure
RestartSec=5
ExecReload=/bin/kill -HUP $MAINPID
User=plinth
Group=plinth
StandardOutput=null
StandardError=null
NotifyAccess=main
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
