{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h2>{{ title }}</h2>

  <p>
    {% blocktrans trimmed %}
      Monkeysphere can be used to authenticate visitors by using
      OpenPGP keys as HTTPS client certificates.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      A client intending to authenticate with {{ box_name }} using
      this method will need an OpenPGP public/private key pair.  This
      key needs be signed by another key after verifying the identity
      of the client such as during a key signing party.  The public
      key of the client and the signatures need to be published on a
      keyserver.  Client then generates an X509 client certificate
      from this key pair and imports it into a browser.  When using
      services of {{ box_name }}, browser submits this certificate
      automatically for verification and the client is verified
      without the need for a password.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      The signing key is known here as a certifier.  A list of
      certifiers as managed here will be trusted 'ultimately'.  When a
      client's certificate is received by {{ box_name }}, it is
      accepted as valid if any of the certifiers have signed the key.
    {% endblocktrans %}
  </p>

  <h3>Status</h3>
  <p class="running-status-parent">
    {% if status.is_running %}
      <span class="running-status active"></span>
      {% blocktrans trimmed with service_name=service_name %}
        Service <i>{{ service_name }}</i> is running
      {% endblocktrans %}
    {% else %}
      <span class="running-status inactive"></span>
      {% blocktrans trimmed with service_name=service_name %}
        Service <i>{{ service_name }}</i> is not running
      {% endblocktrans %}
    {% endif %}
  </p>

  <h3>Configuration</h3>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Update setup" %}"/>
  </form>

  <h3>Certifiers</h3>

  {% if status.keys %}
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th>{% trans "UID" %}</th>
          <th>{% trans "Fingerprint" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for key in status.keys %}
          <tr>
            <td>
              {% for uid in key.uids %}
                <p>{{ uid }}</p>
              {% endfor %}
            </td>
            <td>{{ key.fingerprint }}</td>
            <td>
              <form class="form pull-right" method="post"
                    action="{% url 'monkeysphere:authentication_remove' key.fingerprint %}">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger btn-sm pull-right">
                  {% trans "Remove" %}</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No certifing keys added." %}</p>
  {% endif %}

  <form class="form" method="post"
        action="{% url 'monkeysphere:authentication_add' %}">
    {% csrf_token %}

    {{ add_form|bootstrap }}

    <button type="submit" class="btn btn-default">
      {% trans "Add Certifier" %}</button>
  </form>

{% endblock %}
