{% extends "base_firstboot.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block content %}
  <h2>{% trans "Administrator Account" %}</h2>

  <p>
    {% blocktrans trimmed %}
      Choose a username and password to access this web interface.
      The password can be changed later. This user will be granted
      administrative privileges. Other users can be added later.
    {% endblocktrans %}
  </p>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Create Account" %}"/>
  </form>
{% endblock %}

