{% extends "base.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h3>{% trans "Delete User" %}</h3>

  <p>
    {% blocktrans trimmed with username=object.username %}
      Delete user <strong>{{ username }}</strong> permanently?
    {% endblocktrans %}
  </p>

  <form class="form form-delete" method="post">
    {% csrf_token %}

    <input type="submit" class="btn btn-md btn-danger"
           value="{% blocktrans with username=object.username %}Delete {{ username }}{% endblocktrans %}"/>
  </form>

{% endblock %}
