{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}

{% block page_head %}
  <style type="text/css">
    .user-edit-label {
      display: inline-block;
      width: 75%;
    }
    .list-group-item .btn {
      margin: -5px 0;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        {% for user in object_list %}
          <div class="list-group-item clearfix">
            <a href="{% url 'users:delete' user.username %}"
               class="btn btn-default btn-sm pull-right"
               role="button" title="Delete user {{ user.username }}">
              <span class="glyphicon glyphicon-trash"
                    aria-hidden="true"></span>
            </a>

            <a class='user-edit-label'
               href="{% url 'users:edit' user.username %}"
               title="Edit user {{ user.username }}">
              {{ user.username }}
            </a>

            {% if not user.is_active %}
              <span class="glyphicon glyphicon-ban-circle"
                    aria-hidden="true"></span>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <a href="{% url 'diagnostics:module' 'users' %}"
         class="btn btn-default">Run Diagnostics</a>
    </div>
  </div>

{% endblock %}
