<html>
  <body>
    #if $hosts
    <p>You are consuming services from these hosts:</p>
    <ul>
      #for $host in $hosts
      <li><a href="/consuming/$host">$host</a></li>
      #end for
    </ul>
    #end if
  </body>
</html>
