<html>
  <body>
    <p>You are <a href="/consuming">consuming</a> $service from
      <a href="/consuming/$host">$host</a> at:</p>
    #if $locations
    <ul>
      #for $location in $locations
      <li><a href="$location">$location</a></li>
      #end for
    </ul>
    #end if
  </body>
</html>
