<html>
  <head>
    <style>
      form {
        display: inline;
      }
    </style>
  </head>
  <body>
    #if $hosts
    <p>You are <a href="/consuming">consuming</a> services from these hosts:</p>
    <ul>
      #for $host in $hosts
      <li><a href="/consuming/$host">$host</a>
        <form method="post" action="/consuming">
          <input type="hidden" name="delete" value="$host" />
          <input type="Submit" value="Delete" />
        </form>
      </li>
      #end for
    </ul>
    #end if

    <hr />
    <form method="post" action="/consuming">
      <label>Host: <input name="host" /></label>
      <input type="submit" value="Create New Host" />
    </form>
  </body>
</html>
