<html>
  <body>
    <p>$message</p>
    <p>You are hosting services for:</p>
    #if $clients
    <ul>
      #for $client in $clients
      <li><a href="/hosting/$client">$client</a></li>
      #end for
    </ul>
    #end if
  </body>
</html>
