<html>
  <body>
    <p>$message</p>
    <p>You're hosting <a href="/hosting/$client/$service">$service</a>
      for <a href="/hosting/$client/">$client</a>
      at <a href="$location">$location</a>.</p>
  </body>
</html>
