<html>
  <body>
    <h1>Welcome to FreedomBuddy!</h1>
    <p>You can:</p>
    <ul>
      <li><a href="/hosting">Host</a> services for others.</li>
      <li><a href="/consuming">Consume</a> others' services.</li>
      <li><a href="/stop">Stop</a> the FreedomBuddy service.</li>
    </ul>
  </body>
</html>
