/*
# SPDX-License-Identifier: AGPL-3.0-or-later
*/

td li {
    list-style: none;
    line-height: 2rem;
}

td ul {
    padding: 0;
}

.form-action.pull-right {
    margin-right: 0.625rem;
}

.form-action button {
    width: 7.875rem;
}
