<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_http._tcp</type>
    <subtype>_freedombox._sub._http._tcp</subtype>
    <port>80</port>
    <txt-record>path=/</txt-record>
  </service>

</service-group>
