{% extends "base.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}

{% block content %}

  <h3>
    {% blocktrans trimmed %}
      Delete calibre Library <em>{{ name }}</em>
    {% endblocktrans %}
  </h3>

  <p>
    {% blocktrans trimmed %}
      Delete this library permanently? All stored e-books and saved data will be
      lost.
    {% endblocktrans %}
  </p>

  <form class="form" method="post">
    {% csrf_token %}

    <input type="submit" class="btn btn-md btn-danger"
           value="{% blocktrans %}Delete {{ name }}{% endblocktrans %}"/>
  </form>

{% endblock %}
