{% extends "login_nav.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}

{% block main_block %}

  {% include 'messages.html' %}

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <p>When enabled, the owncloud installation will be available
      from <a href="/owncloud">owncloud</a> on the web server.  Visit
      this URL to set up the initial administration account for
      owncloud.</p>

    <p><strong>Note: Setting up owncloud for the first time might take
      5 minutes or more, depending on download bandwidth from the
      Debian APT sources.</strong></p>

    <input type="submit" class="btn-primary" value="Update setup"/>

  </form>

{% endblock %}

{% block sidebar_right_block %}

  <div class="well sidebar-nav">

    <h3>ownCloud</h3>

    <p>ownCloud gives you universal access to your files through a web
      interface or WebDAV. It also provides a platform to easily view
      & sync your contacts, calendars and bookmarks across all your
      devices and enables basic editing right on the web. Installation
      has minimal server requirements, doesn't need special
      permissions and is quick. ownCloud is extendable via a simple
      but powerful API for applications and plugins.</p>

  </div>

{% endblock %}
