{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "email_form_base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block content %}

  {{ block.super }}

  <form action="{{ request.path }}" method="post">

    {% for data in fields %}
      <div class="form-group">
        <div class="form-text">
          <strong>{{ data.name }}</strong> = {{ data.value }}
        </div> <!-- end form-text -->
        <div class="row">
          <label for="text_{{ data.key }}" class="col-sm-2 col-form-label">
            {% trans "New value" %}
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="text_{{ data.key }}"
                   name="{{ data.key }}" value="{{ data.new_value }}">
          </div>
        </div> <!-- end row -->
      </div> <!-- end form-group -->
    {% endfor %}

    {% csrf_token %}
    <input class="btn btn-primary" type="submit" name="btn_update"
           value="{% trans 'Update' %}">
  </form>


{% endblock %}
