{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "email_form_base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  {{ block.super }}

  {% if not has_homedir %}
    <form action="{{ request.path }}" method="post">
      <div class="alert alert-warning" role="alert">
        <p>
          <strong>{% trans "You do not have a home directory." %}</strong>
          <span>
            {% trans "Create one to begin receiving emails." %}
          </span>
        </p>
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="btn_mkhome">
          {% trans "Create home directory" %}
        </button>
      </div>
    </form>
  {% endif %}

  <p>
    <a href="/roundcube/">Roundcube login</a>
  </p>

{% endblock %}
