{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% extends "base.html" %}

{% load i18n %}

{% block content %}

  <h1>Setup My Home</h1>

  {% if not has_homedir %}
    <p>
      {% trans "You do not have a home directory." %}
      <span>
        {% trans "Create one to begin receiving emails." %}
      </span>
    </p>

    <form action="{{ request.path }}" method="post">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit" name="btn_mkhome">
        {% trans "Create home directory" %}
      </button>
    </form>
  {% else %}
    <p>{% trans "Your home directory is ready to receive emails." %}</p>
  {% endif %}

{% endblock %}
