{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}


<div class="form-check form-group">
  <input class="form-check-input" type="radio" id="{{ prefix }}_unchanged"
         name="{{ prefix }}" value="unchanged" checked="1">
  <label class="form-check-label" for="{{ prefix }}_unchanged">
    {% trans "Keep current settings" %}
  </label>
</div>


<div class="form-check form-group">
  <input class="form-check-input" type="radio" id="{{ prefix }}_le"
         name="{{ prefix }}" value="le">
  <label class="form-check-label" for="{{ prefix }}_le">
    {% trans "Use Let's Encrypt" %}
  </label>

  <div class="form-group row pl-4">
    <label for="{{ prefix }}_le_text" class="col-sm-3 col-form-label">
      {% trans "Common name" %}
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="{{ prefix }}_le_text"
             name="{{ prefix }}_le" placeholder="{{ proto }}.example.com">
    </div>
  </div>
</div>


<div class="form-check form-group">
  <input class="form-check-input" type="radio" id="{{ prefix }}_custom"
         name="{{ prefix }}" value="custom">
  <label class="form-check-label" for="{{ prefix }}_custom">
    {% trans "Use custom values" %}
  </label>

  <div class="form-group row pl-4">
    <label for="{{ prefix }}_cert" class="col-sm-3 col-form-label">
      {% trans "Certificate path" %}
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="{{ prefix }}_cert"
             name="{{ prefix }}_cert" placeholder="/path/to/ssl.pem">
    </div>
  </div>

  <div class="form-group row pl-4">
    <label for="{{ prefix }}_private" class="col-sm-3 col-form-label">
      {% trans "Private key path" %}
    </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="{{ prefix }}_private"
             name="{{ prefix }}_private" placeholder="/path/to/ssl.key">
    </div>
  </div>
</div>


<div class="form-check form-group">
  <input class="form-check-input" type="radio" id="{{ prefix }}_sys"
         name="{{ prefix }}" value="sys">
  <label class="form-check-label" for="{{ prefix }}_sys">
    {% trans "Use system default" %}
  </label>
</div>
