/*
# SPDX-License-Identifier: AGPL-3.0-or-later
*/

.mount-error,
.mount-success,
.encrypted {
    padding: 0 0.3125rem;
}

.mount-error {
    color: orange;
}

.mount-success {
    color: black;
}

.encrypted {
    color: green;
}

.inline-block {
    display: inline-block;
}
