{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h2>{% trans "Service Discovery" %}</h2>

  <p>
    {% blocktrans trimmed %}
      Service discovery allows other devices on the network to
      discover your {{ box_name }} and services running on it.  It
      also allows {{ box_name }} to discover other devices and
      services running on your local network.  Service discovery is
      not essential and works only on internal networks.  It may be
      disabled to improve security especially when connecting to a
      hostile local network.
    {% endblocktrans %}
  </p>

  <h3>{% trans "Status" %}</h3>

  <p class="running-status-parent">
    {% if status.is_running %}
      <span class="running-status active"></span>
      {% trans "Service discovery server is running" %}
    {% else %}
      <span class="running-status inactive"></span>
      {% trans "Service discovery server is not running" %}
    {% endif %}
  </p>

  <h3>{% trans "Configuration" %}</h3>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Update setup" %}"/>
  </form>

{% endblock %}
