{% extends 'app.html' %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load i18n %}
{% load static %}

{% block configuration %}

  {% if not is_running %}
    <form class="form form-run-diagnostics" method="post"
          action="{% url 'diagnostics:index' %}">
      {% csrf_token %}

      <input type="submit" class="btn btn-primary"
             value="{% trans "Run Diagnostics" %}"/>
    </form>
  {% else %}
    <p>{% trans "Diagnostics test is currently running" %}</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active"
           role="progressbar" aria-valuemin="0" aria-valuemax="100"
           aria-valuenow="{{ results.progress_percentage }}"
           style="width: {{ results.progress_percentage }}%">
        {{ results.progress_percentage }}%
      </div>
    </div>

  {% endif %}

  {% if results %}
    <h3>{% trans "Results" %}</h3>
    {% if results.error %}
      <div class="alert alert-danger alert-dismissable">
        <a class="close" data-dismiss="alert">&times;</a>
        {{ results.error }}
      </div>
    {% else %}
      {% for app_id, app_data in results.results.items %}
        <h4>
          {% blocktrans with app_name=app_data.name %}
            App: {{app_name}}
          {% endblocktrans %}
        </h4>

        {% if app_data.results %}
          {% include "diagnostics_results.html" with results=app_data.results %}
        {% else %}
          <p><span class="fa fa-hourglass-o"></span></p>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

{% endblock %}
