{% extends 'base.html' %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% block content %}

<h2>Diagnostic Results</h2>

<h3>Module: {{ module_name }}</h3>

{% if results %}
<div class="row">
  <div class="col-sm-3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Test</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {% for test, result in results %}
        <tr>
          <td>{{ test }}</td>
          <td>{{ result }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<p>This module does not support diagnostics</p>
{% endif %}

{% endblock %}
