# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=FreedomBox: Setup software repositories

[Service]
ExecStart=/usr/share/plinth/actions/upgrades setup-repositories
Type=oneshot
LockPersonality=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=yes
SystemCallArchitectures=native
