[Unit]
Description=Upgrade to new stable Debian release

[Service]
Type=simple
ExecStart=/usr/share/plinth/actions/upgrades dist-upgrade
KillMode=none
TimeoutStopSec=3600
Restart=no
