/*
# SPDX-License-Identifier: AGPL-3.0-or-later
*/

polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.udisks2.filesystem-mount" ||
         action.id == "org.freedesktop.udisks2.filesystem-mount-system" ||
         action.id == "org.freedesktop.udisks2.filesystem-mount-other-seat" ||
         action.id == "org.freedesktop.udisks2.filesystem-fstab") &&
        subject.user == "plinth") {
        return polkit.Result.YES;
    }
});
