{% extends 'base.html' %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% block title_block %}
404
{% endblock %}

{% block main_block %}

<p>Requested page {{ request_path }} was not found.</p>

<p>If you believe this missing page should exist, please file a bug with either
   the Plinth project (<a href="https://github.com/NickDaly/Plinth/issues">it
   has an issue tracker</a>) or the people responsible for the module you are
   trying to access.</p>

<p>Sorry for the mistake.</p>

{% endblock %}
