#extends templates.two_col

#def title_block
<span class="label label-important error-large">Error: $title</span>
<br />
<br />
#end def

#def sidebar_left_block
$sidebar_left
#end def

#def main_block
$main
#end def

#def sidebar_right_block
$sidebar_right
#end def

#def nav_block
$nav
#end def
