{% extends "base.html" %}

{% block add_nav_and_login %}
  <div class="nav-collapse">

    <ul class="nav">
      {% for item in main_menu.items %}
        <li class="{{ item.active_p|yesno:"active," }}">
          <a href="{{ item.url }}" class="{{ item.active_p|yesno:"active," }}">
            <span class="{{ item.icon }} icon-white nav-icon"></span>
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {% if username %}
      <p class="navbar-text pull-right"><i class="icon-user icon-white nav-icon"></i>Logged in as <a href="{{ username }}">{{ username }}</a>. <a href="{{ basehref }}/auth/logout" title="Log out">Log out</a>.</p>
    {% else %}
      <p class="navbar-text pull-right">Not logged in. <i class="icon-user icon-white nav-icon"></i><a href="{{ basehref }}/auth/login" title="Log in">Log in</a>.</p>
    {% endif %}
{% endblock %}
