#extends templates.base

#def css
<!-- CSS from previous template, not sure what to keep yet -->
<!--<link rel="stylesheet" href="$basehref/static/theme/style-plinth-2col.css" />-->
#end def

#def add_sidebar_left
        <div class="span3">
          <div class="well sidebar-nav">
		#block nav_block
		$nav
		#end block nav_block
		#block sidebar_left_block
		$sidebar_left
		#end block sidebar_left_block
          </div><!--/.well -->
          <div class="well sidebar-nav">
		#block sidebar_right_block
		$sidebar_right
		#end block sidebar_right_block
          </div><!--/.well -->
        </div><!--/span-->
#end def

