{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

<div class="accordion-item">
  <h2 class="accordion-header" id="header-pppoe">
    <button class="accordion-button {{ form.errors|yesno:",collapsed" }}"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-pppoe"
            aria-expanded="{{ form.errors|yesno:"true,false" }}"
            aria-controls="collapse-pppoe">
      {% trans "PPPoE" %}
    </button>
  </h2>

  <div id="collapse-pppoe" class="accordion-collapse collapse {{ form.errors|yesno:"show," }}"
       aria-labelledby="header-pppoe"
       data-bs-parent="#accordion-connections-fields">
    <div class="accordion-body field-group">
      {{ form.username|bootstrap }}
      {{ form.password|bootstrap }}
      {{ form.show_password|bootstrap }}
    </div>
  </div>
</div>
