body {
    padding-top: 70px;
}

.nav .glyphicon,
.sidebar .glyphicon {
    margin-right: 4px;
}

.navbar-brand img {
    float: left;
    margin-top: -14px;
    padding: 8px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.running-status-parent {
    display: inline-block;
}

.running-status {
    border-radius: 50%;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.running-status.active {
    background-color: rgb(0, 167, 0);
}

.running-status.inactive {
    background-color: rgb(228, 66, 66);
}

.running-status.loading {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-diagnostics-button {
    display: inline-block;
}

/* Hide log out button if user dropdown is available */
.js #logout-nojs {
    display: none;
}

/* Hide the dropdown icon when javascript is not available */
.no-js .nav .dropdown .caret {
    display: none;
}

.diagnostics-results .diagnostics-result {
    width: 60px;
}
