@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

body {
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.super-hero {
    margin-top: 25px;
}

.logo-top {
    float: left;
    padding-right: 5px;
}

.brand {
    padding-top: 8px;
}

.white {
    color: #fff;
}

.error-large {
    font-size: 1.2em;
    padding: 10px;
}

.main-graphic {
    float: right;
    padding: 25px;
}

.nav-icon {
    margin-right: 8px;
}

.sidenav-icon {
    margin-right: 8px;
    padding-right: 5px;
}

.table-autowidth {
    width: auto;
}

.table td.cell-indented {
    padding-left: 3em;
}

.running-status {
    border-radius: 50%;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.running-status.active {
    background-color: rgb(0, 167, 0);
}

.running-status.inactive {
    background-color: rgb(228, 66, 66);
}
