body {
    padding-top: 70px;
}

.nav .glyphicon,
.sidebar .glyphicon {
    margin-right: 4px;
}

.navbar-brand img {
    float: left;
    margin-top: -14px;
    padding: 8px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.running-status {
    border-radius: 50%;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.running-status.active {
    background-color: rgb(0, 167, 0);
}

.running-status.inactive {
    background-color: rgb(228, 66, 66);
}
