{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h2>{% trans "IRC Client (Quassel)" %}</h2>

  <p>
    {% blocktrans trimmed with box_name=cfg.box_name %}
      Quassel is an IRC application that is split into two parts, a
      "core" and a "client". This allows the core to remain connected
      to IRC servers, and to continue receiving messages, even when
      the client is disconnected. {{ box_name }} can run the Quassel
      core service keeping you always online and one or more Quassel
      clients from a desktop or a mobile can be used to connect and
      disconnect from it.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
    You can connect to your Quassel core on the default Quassel port
    4242.  Clients to connect to Quassel from your
    <a href="http://quassel-irc.org/downloads">desktop</a> and
    <a href="http://quasseldroid.iskrembilen.com/">mobile</a> devices
    are available.
    {% endblocktrans %}
  </p>

  <h3>{% trans "Status" %}</h3>

  <p class="running-status-parent">
    {% if status.is_running %}
      <span class="running-status active"></span>
      {% trans "Quassel core service is running" %}
    {% else %}
      <span class="running-status inactive"></span>
      {% trans "Quassel core service is not running" %}
    {% endif %}
  </p>

  {% include "diagnostics_button.html" with module="quassel" %}


  <h3>{% trans "Configuration" %}</h3>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
	   value="{% trans "Update setup" %}"/>
  </form>

{% endblock %}
