{% extends "app.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block extra_content %}
  {% if can_activate_backports %}
    <h3>{% trans "Backports" %}</h3>
    <p>
      {% blocktrans trimmed %}
        Backports can be activated. This will allow a limited set of software,
        including FreedomBox service, to be upgraded to newer versions from
        Debian {{ dist }}-backports repository.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
        Please note that backports packages do not have security support from
        Debian. However, they are maintained on a best-effort basis by
        contributors in Debian and FreedomBox community.
      {% endblocktrans %}
    </p>
    <div class="alert alert-warning" role="alert">
      {% url 'snapshot:index' as snapshot_url %}
      {% blocktrans trimmed %}
        <strong>Warning!</strong> Once backports are activated, they cannot be
        easily deactivated. You may wish to take a snapshot using
        <a href="{{ snapshot_url }}">Storage Snapshots</a> before continuing.
      {% endblocktrans %}
    </div>
    <p>
      <form class="form" method="post"
            action="{% url 'upgrades:activate-backports' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-warning"
               value="{% trans 'Activate backports' %}"/>
      </form>
    </p>
  {% endif %}

  <h3>{% trans "Manual update" %}</h3>
  {% if is_busy %}
    <p>
      <button type="button" disabled="disabled"
              class="running-status-parent btn btn-default" >
        <span class="running-status loading"></span>
        {% trans "Updating..." %}
      </button>
    </p>
  {% else %}
    <p>
      <form class="form" method="post" action="{% url 'upgrades:upgrade' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-default"
               value="{% trans "Update now" %}"/>
      </form>
    </p>
  {% endif %}

  <p>
    {% blocktrans trimmed %}
      <strong>This may take a long time to complete.</strong> During an update,
      you cannot install apps. Also, this web interface may be temporarily
      unavailable and show an error. In that case, refresh the page to
      continue.
    {% endblocktrans %}
  </p>

  {% if log %}
    <p>
      <a class="btn btn-default collapsed collapsible-button" role="button"
         data-toggle="collapse" href="#collapse-log" aria-expanded="false"
         aria-controls="collapse-log">
        <span class="fa fa-chevron-right fa-fw" aria-hidden="true"></span>
        {% trans "Show recent update logs" %}
      </a>

      <div class="collapse" id="collapse-log">
        <pre>{{ log }}</pre>
      </div>
    </p>
  {% endif %}
{% endblock %}
