{% extends 'base.html' %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}

{% block page_head %}

  {% if running %}
    <meta http-equiv="refresh" content="3"/>
  {% endif %}

{% endblock %}


{% block content %}

  <h2>{{ title }}</h2>

  {% if result %}

    {% if result.return_code %}
      <p>
        {% trans "There was an error while upgrading." %}
      </p>

      <h5>{% trans "Output from unattended-upgrades:" %}</h5>
      <pre>{{ result.error }}</pre>
      {% if result.output %}
        <pre>{{ result.output }}</pre>
      {% endif %}
    {% else %}
      <p>
        {% trans "The operating system is up to date now. &nbsp;" %}
        <button type="button" class="btn btn-default show-details"
                style='display: none;'>
          {% trans "Show Details" %}
          <div class="caret"></div>
        </button>
      </p>

      <div class="details">
        <h5>{% trans "Output from unattended-upgrades:" %}</h5>
        <pre>{{ result.output }}</pre>
      </div>
    {% endif %}

  {% endif %}


  {% if not result and not running %}
    <p>
      {% blocktrans trimmed %}
        This will run unattended-upgrades, which will attempt to upgrade
        your system with the latest Debian packages. It may take a few
        minutes to complete.
      {% endblocktrans %}
    </p>

    <form class="form" method="post" action="{% url 'upgrades:run' %}">
      {% csrf_token %}

      <input type="submit" class="btn btn-primary"
             value="{% trans "Upgrade now &raquo;" %}"/>
    </form>
  {% endif %}

  {% if running %}
    <p class="running-status-parent">
      <span class="running-status active"></span>
      {% trans "System is being upgraded." %}
    </p>
  {% endif %}

{% endblock %}

{% block page_js %}
  <script>
    $('.show-details').show();
    $('.details').hide();
    $('.show-details').click(function() {
      $('.details').toggle("slow");
    });
  </script>
{% endblock %}
