{% extends 'base.html' %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% block content %}

<h2>{{ title }}</h2>

<p>This will run unattended-upgrades, which will attempt to upgrade your system
with the latest Debian packages. It may take a few minutes to complete.</p>

<form class="form" method="post" action="{% url 'upgrades:run' %}">
  {% csrf_token %}

  <input type="submit" class="btn btn-primary" value="Upgrade now &raquo;"/>

</form>

{% endblock %}
