{% extends "login_nav.html" %}
{% load bootstrap %}

{% block main_block %}

{% if  cfg.users.expert %}

  {% for severity, message in messages %}
    <div class='alert alert-{{ severity }}'>{{ message }}</div>
  {% endfor %}

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn-primary" value="Submit"/>

  </form>

{% else %}

  <p>Only members of the expert group are allowed to see and modify
    the system setup.</p>

{% endif %}

{% endblock %}
