/*
# SPDX-License-Identifier: AGPL-3.0-or-later
*/

polkit.addRule(function(action, subject) {
    if ((action.id == "org.fedoraproject.FirewallD1.config.info" ||
         action.id == "org.fedoraproject.FirewallD1.config" ||
         action.id == "org.fedoraproject.FirewallD1.direct.info" ||
         action.id == "org.fedoraproject.FirewallD1.direct") &&
        subject.user == "plinth") {
        return polkit.Result.YES;
    }
});
