{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h2>{% trans "Unhosted Storage (reStore)" %}</h2>

  <p>
    {% blocktrans trimmed %}
      reStore is a server for <a href='https://unhosted.org/'>unhosted</a>
      web applications.  The idea is to uncouple web applications from
      data.  No matter where a web application is served from, the
      data can be stored on an unhosted storage server of user's
      choice.  With reStore, your {{ cfg.box_name }} becomes your
      unhosted storage server.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      You can create and edit accounts in the
      <a href='/restore/'>reStore web-interface</a>.
    {% endblocktrans %}
  </p>

  <h3>Configuration</h3>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Update setup" %}"/>
  </form>

{% endblock %}
