{% extends "base.html" %}
{% comment %}
# SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
  {% block pagetitle %}
    <h2>{{ title }}</h2>
  {% endblock %}

  {% block description %}
    {% for paragraph in description %}
    <p>{{ paragraph|safe }}</p>
    {% endfor %}
  {% endblock %}

  <p>
    {% url 'config:index' as index_url %}
    {% if domain_names|length == 0 %}
      No domain(s) are set. You can setup your domain on the system at
      <a href="{{ index_url }}">Configure</a> page.
    {% endif %}
  </p>

  {% block status %}
  {% endblock %}

  {% block diagnostics %}
  {% endblock %}

  {% block configuration %}
    {% if domain_names|length > 0 %}
      <h3>{% trans "Configuration" %}</h3>
      <form class="form" method="post">
        {% csrf_token %}

        {{ form|bootstrap }}

        <input type="submit" class="btn btn-primary"
               value="{% trans "Update setup" %}"/>
      </form>
    {% endif %}
  {% endblock %}
{% endblock %}
