{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}

{% block main_block %}

  <p>Welcome screen not completely implemented yet.  Press <a
    href="{{basehref }}/apps">continue</a> to see the rest of the
    web interface.</p>

  <ul>
    <li>TODO: explain all this cert stuff to the user.</li>
    <li>TODO: add instrux for installing certificate.</li>
    <li>TODO: add steps for after you have installed certificate.</li>
  </ul>

{% endblock %}

{% block sidebar_right_block %}

  {% include "firstboot_sidebar.html" %}

{% endblock %}
